In [17]:
import vanna
from vanna.remote import VannaDefault
import psycopg2
from dotenv import load_dotenv
import os

# Setup

In [18]:
load_dotenv('.env', override=True)
VANNA_KEY = os.getenv('VANNA_KEY')
VANNA_MODEL_NAME = os.getenv('VANNA_MODEL_NAME')
DB_SERVER = os.getenv('DB_SERVER')
DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

# Set Model

In [19]:
vanna_model_name = VANNA_MODEL_NAME
vn = VannaDefault(model=vanna_model_name, api_key=VANNA_KEY)

# Connect to the Database

In [20]:
vn.connect_to_postgres(DB_SERVER,DB_NAME,DB_USER,DB_PASSWORD,DB_PORT)

# Questions

In [87]:
questions = [
    "What it the total amount of people by region?", # SUCCESS
    # "Group the amount of people each business entity have", # SUCCESS
    # "How much work orders are?", # SUCCESS
    # "Which is the product most ordered?" # SUCCESS, but first missed error on postgres sintaxis, 
    # "Give me the total amount of products by category", # SUCCESS,but first missed schema on join
    # "What is the total amount from sales?", # SUCESS,but first missed schema and wrong tables
    # "What is the total profit?", # Wrong, first missed schema and wrong tables and then succeed on choosing the correct schema and table but missed the column and the algebraic was wrong
    # "Which is the product that most changed his cost over the past?", # WRONG, the result is not accurate but the table used is correct
    # "How much product were sold for each category?" # SUCCED,but first the schema was correct but the table useded was not exist,
    # "What is the total cost amount of all the products?", # SUCCEED, but first missed schema and wrong tables
    # "What is the average sales per customers?", # SUCCEED, but first missed schema and wrong tables
    # "What is the number of products in each category?", # SUCCEED, but first missed schema and wrong tables
    # "Top 10 Customers with the highest purchase", # WRONG, first missed schema and wrong tables
    # "Top 10 Employees with the highest sale", # SUCCEED, but first missed schema and wrong tables
    # "Top 10 most sale products", # SUCCESS, but first missed schema and wrong tables
    # "Top 10 Employees with the highest sale", # SUCCED, but first missed schema and wrong tables
    # "and what are their middlenames?",
    # "and where they live?",
    # "and what are their emails?",
    # "Rank customers by sales",
    ]
for i in range(len(questions)):
    try:
        print('\n--------------------------------\n')
        print(f'[QUESTION]: {questions[i]} \n')
        # query = vn.generate_sql(questions[i])
        print(f'[QUERY]:')
        sql_result = vn.ask(questions[i],False)
        print(sql_result)
    except Exception as e:
        print(e.args)

--------------------------------

[QUESTION]: What it the total amount of people by region?

[QUERY]:
None