In [3]:
%pip install vanna

Requirement already satisfied: vanna in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.0.35)
Requirement already satisfied: requests in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (2.31.0)
Requirement already satisfied: tabulate in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (0.9.0)
Requirement already satisfied: plotly in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (5.18.0)
Requirement already satisfied: pandas in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (2.2.0)
Requirement already satisfied: sqlparse in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (0.4.4)
Requirement already satisfied: kaleido in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from vanna) (0.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->vanna) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->vanna) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->vanna) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->vanna) (2023.4)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly->vanna) (8.2.3)
Requirement already satisfied: packaging in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly->vanna) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->vanna) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->vanna) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->vanna) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->vanna) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\pedrogeraghty\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->vanna) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\PedroGeraghty\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import vanna
from vanna.remote import VannaDefault
from dotenv import load_dotenv
import os

In [5]:
load_dotenv('.env', override=True)
VANNA_KEY = os.getenv('VANNA_KEY')
VANNA_MODEL_NAME = os.getenv('VANNA_MODEL_NAME')
DB_SERVER = os.getenv('DB_SERVER')
DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

In [6]:

vanna_model_name = VANNA_MODEL_NAME
vn = VannaDefault(model=vanna_model_name, api_key=VANNA_KEY)

# Training
You only need to train once. Do not train again unless you want to add more training data.

In [7]:
vn.connect_to_postgres(DB_SERVER,DB_NAME,DB_USER,DB_PASSWORD,DB_PORT)

# Remove training data

In [8]:
# id =  vn.add_ddl(f"""CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;""")
# vn.remove_training_data(id)
# vn.remove_training_data("68738-sql")

# Provide DDL from dump sql file

In [31]:
import re

# Read the SQL file
with open('schemas_db.sql', 'r') as file:
    data = file.read()

# Regular expression to match PostgreSQL statements
pattern = r"(.*?;)"
matches = re.findall(pattern, data, re.DOTALL)

# Print all PostgreSQL statements
for match in matches:
    print(match)
    # vn.add_ddl(match)

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1 (Debian 16.1-1.pgdg120+1)
-- Dumped by pg_dump version 16.1 (Debian 16.1-1.pgdg120+1)

SET statement_timeout = 0;

SET lock_timeout = 0;

SET idle_in_transaction_session_timeout = 0;

SET client_encoding = 'UTF8';

SET standard_conforming_strings = on;

SELECT pg_catalog.set_config('search_path', '', false);

SET check_function_bodies = false;

SET xmloption = content;

SET client_min_messages = warning;

SET row_security = off;


--
-- Name: hr;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA hr;



ALTER SCHEMA hr OWNER TO postgres;


--
-- Name: humanresources;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA humanresources;



ALTER SCHEMA humanresources OWNER TO postgres;


--
-- Name: SCHEMA humanresources;
 Type: COMMENT;
 Schema: -;
 Owner: postgres
--

COMMENT ON SCHEMA humanresources IS 'Contains objects related to employees and departments.';



--
-- Name: pe;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA pe;



ALTER SCHEMA pe OWNER TO postgres;


--
-- Name: person;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA person;



ALTER SCHEMA person OWNER TO postgres;


--
-- Name: SCHEMA person;
 Type: COMMENT;
 Schema: -;
 Owner: postgres
--

COMMENT ON SCHEMA person IS 'Contains objects related to names and addresses of customers, vendors, and employees';



--
-- Name: pr;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA pr;



ALTER SCHEMA pr OWNER TO postgres;


--
-- Name: production;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA production;



ALTER SCHEMA production OWNER TO postgres;


--
-- Name: SCHEMA production;
 Type: COMMENT;
 Schema: -;
 Owner: postgres
--

COMMENT ON SCHEMA production IS 'Contains objects related to products, inventory, and manufacturing.';



--
-- Name: pu;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA pu;



ALTER SCHEMA pu OWNER TO postgres;


--
-- Name: purchasing;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA purchasing;



ALTER SCHEMA purchasing OWNER TO postgres;


--
-- Name: SCHEMA purchasing;
 Type: COMMENT;
 Schema: -;
 Owner: postgres
--

COMMENT ON SCHEMA purchasing IS 'Contains objects related to vendors and purchase orders.';



--
-- Name: sa;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA sa;



ALTER SCHEMA sa OWNER TO postgres;


--
-- Name: sales;
 Type: SCHEMA;
 Schema: -;
 Owner: postgres
--

CREATE SCHEMA sales;



ALTER SCHEMA sales OWNER TO postgres;


--
-- Name: SCHEMA sales;
 Type: COMMENT;
 Schema: -;
 Owner: postgres
--

COMMENT ON SCHEMA sales IS 'Contains objects related to customers, sales orders, and sales territories.';



--
-- Name: tablefunc;
 Type: EXTENSION;
 Schema: -;
 Owner: -
--

CREATE EXTENSION IF NOT EXISTS tablefunc WITH SCHEMA public;



--
-- Name: EXTENSION tablefunc;
 Type: COMMENT;
 Schema: -;
 Owner:
--

COMMENT ON EXTENSION tablefunc IS 'functions that manipulate whole tables, including crosstab';



--
-- Name: uuid-ossp;
 Type: EXTENSION;
 Schema: -;
 Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;



--
-- Name: EXTENSION "uuid-ossp";
 Type: COMMENT;
 Schema: -;
 Owner:
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';



--
-- Name: AccountNumber;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."AccountNumber" AS character varying(15);



ALTER DOMAIN public."AccountNumber" OWNER TO postgres;


--
-- Name: Flag;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."Flag" AS boolean NOT NULL;



ALTER DOMAIN public."Flag" OWNER TO postgres;


--
-- Name: Name;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."Name" AS character varying(50);



ALTER DOMAIN public."Name" OWNER TO postgres;


--
-- Name: NameStyle;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."NameStyle" AS boolean NOT NULL;



ALTER DOMAIN public."NameStyle" OWNER TO postgres;


--
-- Name: OrderNumber;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."OrderNumber" AS character varying(25);



ALTER DOMAIN public."OrderNumber" OWNER TO postgres;


--
-- Name: Phone;
 Type: DOMAIN;
 Schema: public;
 Owner: postgres
--

CREATE DOMAIN public."Phone" AS character varying(25);



ALTER DOMAIN public."Phone" OWNER TO postgres;


SET default_tablespace = '';


SET default_table_access_method = heap;


--
-- Name: department;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.department (
    departmentid integer NOT NULL,
    name public."Name" NOT NULL,
    groupname public."Name" NOT NULL,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL
);



ALTER TABLE humanresources.department OWNER TO postgres;


--
-- Name: TABLE department;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.department IS 'Lookup table containing the departments within the Adventure Works Cycles company.';



--
-- Name: COLUMN department.departmentid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.department.departmentid IS 'Primary key for Department records.';



--
-- Name: COLUMN department.name;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.department.name IS 'Name of the department.';



--
-- Name: COLUMN department.groupname;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.department.groupname IS 'Name of the group to which the department belongs.';



--
-- Name: d;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.d AS
 SELECT departmentid AS id,
    departmentid,
    name,
    groupname,
    modifieddate
   FROM humanresources.department;



ALTER VIEW hr.d OWNER TO postgres;


--
-- Name: employee;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.employee (
    businessentityid integer NOT NULL,
    nationalidnumber character varying(15) NOT NULL,
    loginid character varying(256) NOT NULL,
    jobtitle character varying(50) NOT NULL,
    birthdate date NOT NULL,
    maritalstatus character(1) NOT NULL,
    gender character(1) NOT NULL,
    hiredate date NOT NULL,
    salariedflag public."Flag" DEFAULT true NOT NULL,
    vacationhours smallint DEFAULT 0 NOT NULL,
    sickleavehours smallint DEFAULT 0 NOT NULL,
    currentflag public."Flag" DEFAULT true NOT NULL,
    rowguid uuid DEFAULT public.uuid_generate_v1() NOT NULL,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL,
    organizationnode character varying DEFAULT '/'::character varying,
    CONSTRAINT "CK_Employee_BirthDate" CHECK (((birthdate >= '1930-01-01'::date) AND (birthdate <= (now() - '18 years'::interval)))),
    CONSTRAINT "CK_Employee_Gender" CHECK ((upper((gender)::text) = ANY (ARRAY['M'::text, 'F'::text]))),
    CONSTRAINT "CK_Employee_HireDate" CHECK (((hiredate >= '1996-07-01'::date) AND (hiredate <= (now() + '1 day'::interval)))),
    CONSTRAINT "CK_Employee_MaritalStatus" CHECK ((upper((maritalstatus)::text) = ANY (ARRAY['M'::text, 'S'::text]))),
    CONSTRAINT "CK_Employee_SickLeaveHours" CHECK (((sickleavehours >= 0) AND (sickleavehours <= 120))),
    CONSTRAINT "CK_Employee_VacationHours" CHECK (((vacationhours >= '-40'::integer) AND (vacationhours <= 240)))
);



ALTER TABLE humanresources.employee OWNER TO postgres;


--
-- Name: TABLE employee;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.employee IS 'Employee information such as salary, department, and title.';



--
-- Name: COLUMN employee.businessentityid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.businessentityid IS 'Primary key for Employee records.  Foreign key to BusinessEntity.BusinessEntityID.';



--
-- Name: COLUMN employee.nationalidnumber;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.nationalidnumber IS 'Unique national identification number such as a social security number.';



--
-- Name: COLUMN employee.loginid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.loginid IS 'Network login.';



--
-- Name: COLUMN employee.jobtitle;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.jobtitle IS 'Work title such as Buyer or Sales Representative.';



--
-- Name: COLUMN employee.birthdate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.birthdate IS 'Date of birth.';



--
-- Name: COLUMN employee.maritalstatus;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.maritalstatus IS 'M = Married, S = Single';



--
-- Name: COLUMN employee.gender;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.gender IS 'M = Male, F = Female';



--
-- Name: COLUMN employee.hiredate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.hiredate IS 'Employee hired on this date.';



--
-- Name: COLUMN employee.salariedflag;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.salariedflag IS 'Job classification. 0 = Hourly, not exempt from collective bargaining. 1 = Salaried, exempt from collective bargaining.';



--
-- Name: COLUMN employee.vacationhours;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.vacationhours IS 'Number of available vacation hours.';



--
-- Name: COLUMN employee.sickleavehours;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.sickleavehours IS 'Number of available sick leave hours.';



--
-- Name: COLUMN employee.currentflag;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.currentflag IS '0 = Inactive, 1 = Active';



--
-- Name: COLUMN employee.organizationnode;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employee.organizationnode IS 'Where the employee is located in corporate hierarchy.';



--
-- Name: e;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.e AS
 SELECT businessentityid AS id,
    businessentityid,
    nationalidnumber,
    loginid,
    jobtitle,
    birthdate,
    maritalstatus,
    gender,
    hiredate,
    salariedflag,
    vacationhours,
    sickleavehours,
    currentflag,
    rowguid,
    modifieddate,
    organizationnode
   FROM humanresources.employee;



ALTER VIEW hr.e OWNER TO postgres;


--
-- Name: employeedepartmenthistory;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.employeedepartmenthistory (
    businessentityid integer NOT NULL,
    departmentid smallint NOT NULL,
    shiftid smallint NOT NULL,
    startdate date NOT NULL,
    enddate date,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT "CK_EmployeeDepartmentHistory_EndDate" CHECK (((enddate >= startdate) OR (enddate IS NULL)))
);



ALTER TABLE humanresources.employeedepartmenthistory OWNER TO postgres;


--
-- Name: TABLE employeedepartmenthistory;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.employeedepartmenthistory IS 'Employee department transfers.';



--
-- Name: COLUMN employeedepartmenthistory.businessentityid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeedepartmenthistory.businessentityid IS 'Employee identification number. Foreign key to Employee.BusinessEntityID.';



--
-- Name: COLUMN employeedepartmenthistory.departmentid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeedepartmenthistory.departmentid IS 'Department in which the employee worked including currently. Foreign key to Department.DepartmentID.';



--
-- Name: COLUMN employeedepartmenthistory.shiftid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeedepartmenthistory.shiftid IS 'Identifies which 8-hour shift the employee works. Foreign key to Shift.Shift.ID.';



--
-- Name: COLUMN employeedepartmenthistory.startdate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeedepartmenthistory.startdate IS 'Date the employee started work in the department.';



--
-- Name: COLUMN employeedepartmenthistory.enddate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeedepartmenthistory.enddate IS 'Date the employee left the department. NULL = Current department.';



--
-- Name: edh;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.edh AS
 SELECT businessentityid AS id,
    businessentityid,
    departmentid,
    shiftid,
    startdate,
    enddate,
    modifieddate
   FROM humanresources.employeedepartmenthistory;



ALTER VIEW hr.edh OWNER TO postgres;


--
-- Name: employeepayhistory;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.employeepayhistory (
    businessentityid integer NOT NULL,
    ratechangedate timestamp without time zone NOT NULL,
    rate numeric NOT NULL,
    payfrequency smallint NOT NULL,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT "CK_EmployeePayHistory_PayFrequency" CHECK ((payfrequency = ANY (ARRAY[1, 2]))),
    CONSTRAINT "CK_EmployeePayHistory_Rate" CHECK (((rate >= 6.50) AND (rate <= 200.00)))
);



ALTER TABLE humanresources.employeepayhistory OWNER TO postgres;


--
-- Name: TABLE employeepayhistory;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.employeepayhistory IS 'Employee pay history.';



--
-- Name: COLUMN employeepayhistory.businessentityid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeepayhistory.businessentityid IS 'Employee identification number. Foreign key to Employee.BusinessEntityID.';



--
-- Name: COLUMN employeepayhistory.ratechangedate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeepayhistory.ratechangedate IS 'Date the change in pay is effective';



--
-- Name: COLUMN employeepayhistory.rate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeepayhistory.rate IS 'Salary hourly rate.';



--
-- Name: COLUMN employeepayhistory.payfrequency;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.employeepayhistory.payfrequency IS '1 = Salary received monthly, 2 = Salary received biweekly';



--
-- Name: eph;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.eph AS
 SELECT businessentityid AS id,
    businessentityid,
    ratechangedate,
    rate,
    payfrequency,
    modifieddate
   FROM humanresources.employeepayhistory;



ALTER VIEW hr.eph OWNER TO postgres;


--
-- Name: jobcandidate;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.jobcandidate (
    jobcandidateid integer NOT NULL,
    businessentityid integer,
    resume xml,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL
);



ALTER TABLE humanresources.jobcandidate OWNER TO postgres;


--
-- Name: TABLE jobcandidate;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.jobcandidate IS 'RÃƒÂ©sumÃƒÂ©s submitted to Human Resources by job applicants.';



--
-- Name: COLUMN jobcandidate.jobcandidateid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.jobcandidate.jobcandidateid IS 'Primary key for JobCandidate records.';



--
-- Name: COLUMN jobcandidate.businessentityid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.jobcandidate.businessentityid IS 'Employee identification number if applicant was hired. Foreign key to Employee.BusinessEntityID.';



--
-- Name: COLUMN jobcandidate.resume;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.jobcandidate.resume IS 'RÃƒÂ©sumÃƒÂ© in XML format.';



--
-- Name: jc;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.jc AS
 SELECT jobcandidateid AS id,
    jobcandidateid,
    businessentityid,
    resume,
    modifieddate
   FROM humanresources.jobcandidate;



ALTER VIEW hr.jc OWNER TO postgres;


--
-- Name: shift;
 Type: TABLE;
 Schema: humanresources;
 Owner: postgres
--

CREATE TABLE humanresources.shift (
    shiftid integer NOT NULL,
    name public."Name" NOT NULL,
    starttime time without time zone NOT NULL,
    endtime time without time zone NOT NULL,
    modifieddate timestamp without time zone DEFAULT now() NOT NULL
);



ALTER TABLE humanresources.shift OWNER TO postgres;


--
-- Name: TABLE shift;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON TABLE humanresources.shift IS 'Work shift lookup table.';



--
-- Name: COLUMN shift.shiftid;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.shift.shiftid IS 'Primary key for Shift records.';



--
-- Name: COLUMN shift.name;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.shift.name IS 'Shift description.';



--
-- Name: COLUMN shift.starttime;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.shift.starttime IS 'Shift start time.';



--
-- Name: COLUMN shift.endtime;
 Type: COMMENT;
 Schema: humanresources;
 Owner: postgres
--

COMMENT ON COLUMN humanresources.shift.endtime IS 'Shift end time.';



--
-- Name: s;
 Type: VIEW;
 Schema: hr;
 Owner: postgres
--

CREATE VIEW hr.s AS
 SELECT shiftid AS id,
    shiftid,
    name,
    starttime,
    endtime,
    modifieddate
   FROM humanresources.shift;



ALTER VIEW hr.s OWNER TO postgres;


--
-- Name: department_departmentid_seq;
 Type: SEQUENCE;
 Schema: humanresources;
 Owner: postgres
--

CREATE SEQUENCE humanresources.department_departmentid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



ALTER SEQUENCE humanresources.department_departmentid_seq OWNER TO postgres;


--
-- Name: department_departmentid_seq;
 Type: SEQUENCE OWNED BY;
 Schema: humanresources;
 Owner: postgres
--

ALTER SEQUENCE humanresources.department_departmentid_seq OWNED BY humanresources.department.departmentid;



--
-- Name: jobcandidate_jobcandidateid_seq;
 Type: SEQUENCE;
 Schema: humanresources;
 Owner: postgres
--

CREATE SEQUENCE humanresources.jobcandidate_jobcandidateid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



ALTER SEQUENCE humanresources.jobcandidate_jobcandidateid_seq OWNER TO postgres;


--
-- Name: jobcandidate_jobcandidateid_seq;
 Type: SEQUENCE OWNED BY;
 Schema: humanresources;
 Owner: postgres
--

ALTER SEQUENCE humanresources.jobcandidate_jobcandidateid_seq OWNED BY humanresources.jobcandidate.jobcandidateid;



--
-- Name: shift_shiftid_seq;
 Type: SEQUENCE;
 Schema: humanresources;
 Owner: postgres
--

CREATE SEQUENCE humanresources.shift_shiftid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



ALTER SEQUENCE humanresources.shift_shiftid_seq OWNER TO postgres;


--
-- Name: shift_shiftid_seq;
 Type: SEQUENCE OWNED BY;

# Check training data

In [9]:
vn.get_training_data()

,id,training_data_type,question,content
0,21244-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON COLUMN prod...
1,20609-ddl,ddl,NaN,Type: COMMENT;
2,21366-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON COLUMN prod...
3,21200-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON TABLE produ...
4,20731-ddl,ddl,NaN,Schema: person;
...,...,...,...,...
3804,21201-ddl,ddl,NaN,\n\n\n--\n-- Name: COLUMN product.productid;
3805,20476-ddl,ddl,NaN,Type: VIEW;
3806,20349-ddl,ddl,NaN,\n\n\n--\n-- Name: COLUMN employee.birthdate;
3807,20914-ddl,ddl,NaN,Type: COMMENT;
3808,23476-ddl,ddl,NaN,Type: CONSTRAINT;

# Provide documentation on information schema

In [11]:
# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
vn.train(plan=plan)

In [12]:
vn.get_training_data()

,id,training_data_type,question,content
0,21244-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON COLUMN prod...
1,20609-ddl,ddl,NaN,Type: COMMENT;
2,21366-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON COLUMN prod...
3,21200-ddl,ddl,NaN,Owner: postgres\n--\n\nCOMMENT ON TABLE produ...
4,20731-ddl,ddl,NaN,Schema: person;
...,...,...,...,...
4168,21201-ddl,ddl,NaN,\n\n\n--\n-- Name: COLUMN product.productid;
4169,20476-ddl,ddl,NaN,Type: VIEW;
4170,20349-ddl,ddl,NaN,\n\n\n--\n-- Name: COLUMN employee.birthdate;
4171,20914-ddl,ddl,NaN,Type: COMMENT;
4172,23476-ddl,ddl,NaN,Type: CONSTRAINT;